body {background-color: rgb(7, 0, 15);
color: rgb(177, 177, 177);
text-align: justify;

}

.App{
  display: flex;
  
  
}

#left {
  

  width: 70%;
  
}

#right {
        
  text-align: center;
  position: fixed;
  right: 0;
  width: 25%;
  height: 20%;

}





.purple1{
  background-color:#0c0032; height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.purple1:hover{
  
  border-bottom-right-radius: 25%;
  border-color: aqua;
    transition: 0.5s;
    color: red;
    text-decoration:overline
}

  

.purple2{
  background-color:#190061; height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family:Verdana, Geneva, Tahoma, sans-serif}
  .purple2:hover{
  border-bottom-right-radius: 25%;
  
  transition: 0.5s;
  color: red;
  text-decoration:overline
}


.purple3{
  background-color:#240090; height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family:Verdana, Geneva, Tahoma, sans-serif}
  .purple3:hover{
  border-bottom-right-radius: 25%;
  
  transition: 0.5s;
  color: red;
  text-decoration:overline
}

.purple4{
  background-color:#3500D3; height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family:Verdana, Geneva, Tahoma, sans-serif}
  .purple4:hover{
  border-bottom-right-radius: 25%;
  
  transition: 0.5s;
  color: red;
  text-decoration:overline
}

.purple5{
  background-color:#282828; height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family:Verdana, Geneva, Tahoma, sans-serif}
  .purple5:hover{
  border-bottom-right-radius: 25%;
  
  transition: 0.5s;
  color: red;
  text-decoration:overline

}


.align-left {
  float: left;
  margin-right: 20px;
}

.slide-in {
  opacity: 0;
  transition: all .5s;
}


.align-left.slide-in {
  transform: translateX(-30%) scale(0.95);
}

.slide-in.active:hover{

transform:scale(105%)
}

.align-right {
  float: right;
  margin-left: 20px;
}

.align-right.slide-in {
  transform: translateX(30%) scale(0.95);
}


.slide-in.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}

